*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C59FC9;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border-color: rgb(11, 245, 155);
    box-shadow: 0 0 1rem rgb(9, 17, 154,0.6);
    font-size: 9vmin;
    color: rebeccapurple;
}

#reset-btn{
    align-items: center;
    padding: 0.7rem;
    font-size: 1.5rem;
    background-color: rgb(44, 3, 65);
    border: none;
    border-radius: 1rem;
    color: #fff;
}

#new-btn{
    align-items: center;
    padding: 0.7rem;
    font-size: 1.5rem;
    background-color: rgb(44, 3, 65);
    border: none;
    border-radius: 1rem;
    color: #fff;
}

.msg{
    font-size: 5vmin;
    font-weight: bold;
}

#msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}
